<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SHRLS Admin Page</title>
        <link rel="stylesheet" href="/static/styles/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/styles/bootstrap-tagsinput.css" />
        <link rel="stylesheet" href="/static/dropzone.css" />

        <style type='text/css'>
            body {
                padding-top: 10px;
            }
            .bootstrap-tagsinput {
                background-color: inherit;
                border: none;
                box-shadow: none;
                width: 100%;
                height: 100%;
                padding: 0px;
                white-space: nowrap;
            }
            .bootstrap-tagsinput input {
                width: 100%;
            }
            .shrl_overflow {
                width: 250px;
                padding: 0px;
                margin: 0px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .label {
                font-size: 12px;
                padding: 2px 0px 2px 2px;
                margin: 0px;
            }
        </style>

    </head>
    <body>
        <script src="/static/dropzone.js"></script>
        <script src="/static/jquery.min.js"></script>
        <script src="/static/knockout-min.js"></script>
        <script src="/static/bootstrap.min.js"></script>
        <script src="/static/bootstrap3-typeahead.min.js"></script>
        <script src="/static/bootstrap-tagsinput.min.js"></script>
        <script src="/static/clipboard.min.js"></script>

        <script type='text/javascript'>

            ko.bindingHandlers.clipboard = {
                init: function(element, valueAccessor, allBindings, bindingContext) {
                    var value = ko.unwrap(valueAccessor());
                    clipboard = new Clipboard(element, {
                        text: function(trigger) {
                            return value;
                        }
                    });
                },
            }

            ko.bindingHandlers.tags = {
                init: function(element, valueAccessor, allBindings, bindingContext) {
                    $(element).tagsinput({
                        trimValue: true,
                        confirmKeys: [13],
                        itemText: function(item) {
                            item = item.replace(/^#+/, '');
                            return "#" + item;
                        },
                        tagClass: function(item) {
                            return 'tag label label-default';
                        }
                        //typeahead: {
                        //    source: function(query) {
                        //        return viewModel.tags();
                        //    },
                        //},
                    });


                    var values = ko.unwrap(valueAccessor());

                    for (var i=0; i<values.length; i++) {
                        $(element).tagsinput('add', values[i]);
                    }

                    var modifiedHandler = function(value) {
                        return function() {
                            var tags = $(this).tagsinput('items').map(function(item) { return item.replace(/^#+/, ''); });
                            value(tags);
                            bindingContext.updateTags();
                        }
                    }(valueAccessor());

                    $(element).on('itemAdded', modifiedHandler);
                    $(element).on('itemRemoved', modifiedHandler);
                },
            }

            var Url = function(url) {
                var self = this;
                self.id = ko.observable();
                self.alias = ko.observable();
                self.location = ko.observable();
                self.views = ko.observable();
                self.tags = ko.observableArray();

                self.init = function(url) {
                    self.id(url.id)
                    self.alias(url.alias);
                    self.location(url.location);
                    self.views(url.views);
                    self.tags(url.tags);
                }
                if (url != undefined) {
                    self.init(url);
                }

                self.href = ko.computed(function() {
                    return document.location.origin + '/' + self.alias();
                }, self);

                self.updateTags = function() {
                    if (self.id() == undefined) { return; }
                    $.ajax({
                        url: '/admin/api/shrls',
                        method: 'POST',
                        data: {
                            id: self.id(),
                            tags: self.tags(),
                        },
                        success: function(data) { }
                    });
                }

                self.update = function() {
                    var req = {}
                    $.ajax({
                        url: '/admin/api/shrls',
                        method: 'POST',
                        data: {
                            id: self.id(),
                            alias: self.alias(),
                            location: self.location(),
                            tags: self.tags(),
                        },
                        success: function(data) {
                            self.init(data.shrl);
                            retrieveUrls();
                        }
                    });
                }

                self.save = function() {
                    self.update();
                    viewModel.edit(undefined);
                }

                self.closeModal = function() {
                    viewModel.edit(undefined);
                    retrieveUrls();
                }

                self.delete_shrl = function() {
                    viewModel.edit(undefined);
                    if (self.id() == undefined) { return; }
                    $.ajax({
                        url: '/admin/api/shrls',
                        method: 'DELETE',
                        data: {
                            id: self.id(),
                        },
                        success: function(data) {
                            retrieveUrls();
                        }
                    });
                }

                self.edit = function() {
                    viewModel.edit(self);
                }

            }

            var ViewModel = function() {
                var self = this;

                self.urls = ko.observableArray(),
                self.tags = ko.observableArray(),
                self.search = ko.observable(localStorage.getItem('search')),
                self.control = {
                    page: ko.observable(localStorage.getItem('page') * 1 || 0),
                    count: ko.observable(localStorage.getItem('count') * 1 || 50),
                    nextPage: function() {
                        self.control.page(self.control.page() + 1);
                        retrieveUrls();
                    },
                    prevPage: function() {
                        self.control.page(Math.max(0, self.control.page() - 1));
                        retrieveUrls();
                    },
                }

                self.edit = ko.observable();

                self.showEdit = ko.computed(function() {
                    if (this.edit() != undefined) {
                        $('#edit-modal input.default').focus();
                        $('#edit-modal').modal('show');
                        return true;
                    }
                    $('#edit-modal').modal('hide');
                    return false;
                }, self);

                self.submitQuery = function() {
                    self.control.page(0);
                    retrieveUrls();
                }

                self.newShrl = function() {
                    self.edit(new Url());
                }
            }

            var viewModel = new ViewModel();

            var urls = [];


            function getUrl(url) {
                result = viewModel.urls().find(function(item) { return item.id() == url.id; });
                if (result == undefined) {
                    result = new Url(url);
                }
                result.init(url);
                return result;
            }

            function retrieveUrls() {
                localStorage.setItem('search', viewModel.search());
                localStorage.setItem('page', viewModel.control.page());
                localStorage.setItem('count', viewModel.control.count());
                $.ajax({
                    url: '/admin/api/shrls',
                    dataType: 'json',
                    data: {
                        page: viewModel.control.page(),
                        count: viewModel.control.count(),
                        search: viewModel.search(),
                    },
                    success: function(data) {
                        viewModel.urls(data.urls.map(function(item) { return getUrl(item); }));
                    },
                });
            }

            function retrieveTags(search) {
                $.ajax({
                    url: '/admin/api/tags',
                    dataType: 'json',
                    data: {search: search},
                    success: function(data) {
                        viewModel.tags(data.tags);
                    },
                });
            }

            $(document).ready(function() {
                $(window).on('focus', retrieveUrls);
                retrieveUrls();
                //retrieveTags();
                setInterval(retrieveUrls, 30000);
                ko.applyBindings(viewModel);
            });

            function upload_snippet() {
                content = $('#content').val();
                title = $('#title').val();
                $.ajax({
                    url: '/admin/snippet',
                    method: 'POST',
                    data: {
                        'c': content,
                        't': title,
                    },
                    success: function(data) {
                        prompt("Snippet has been uploaded successfully!", data);
                        $('#content').val("");
                        $('#title').val("");
                        $('#shrl_overwrite').attr('checked', '');
                    },
                });
            }

            function add_shrl(url, shrl, overwrite) {
                if (shrl.trim() == '') {
                    data = {u: url};
                } else {
                    data = {u: url, s: shrl};
                }
                data['o'] = overwrite;
                data['url_only'] = true;
                $.ajax({
                    url: '/admin/create',
                    method: 'GET',
                    data: data,
                    success: function(d) {
                        retrieveUrls();
                    },
                });
            }

            function create_shrl() {
                url = $('#shrl_url').val();
                shrl = $('#shrl_short').val();
                if (shrl.trim() == '') {
                    var data = {u: url};
                } else {
                    var data = {u: url, s: shrl};
                }
                data['o'] = $('#shrl_overwrite').is(':checked');
                data['url_only'] = true;
                $.ajax({
                    url: '/admin/create',
                    method: 'GET',
                    data: data,
                    success: function(data) {
                        prompt("Url has been uploaded successfully!", data);
                        $('#shrl_url').val("");
                        $('#shrl_short').val("");
                        retrieveUrls();
                    },
                });
            }
        </script>

        <div id='edit-modal' class='modal fade' data-bind='with: edit'>
            <div class='modal-dialog' role='document'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <button type='button' class='close' data-bind='click: closeModal'>x</button>
                        <h4>Edit <b><span data-bind='text: alias'></span></b></h4>
                    </div>
                    <div class='modal-body'>
                        <div class='form-group'>
                            <label for='alias'>Short Url</label>
                            <input class='form-control' id='alias' type='text' placeholder='Short Url' data-bind='value: alias, valueUpdate: "afterkeydown"' />
                        </div>
                        <div class='form-group'>
                            <label for='location'>Destination</label>
                            <input class='form-control default' id='location' type='text' placeholder='Destination' data-bind='value: location, valueUpdate: "afterkeydown"' />
                        </div>

                        <div class='form-group'>
                            <label>Tags</label>
                            <div class='well well-sm'>
                                <span data-bind='tags: tags' class='col-md-4'></span>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label for='views'>Views</label>
                            <input class='form-control' disabled id='views' type='text' placeholder='Views' data-bind='value: views' />
                        </div>
                    </div>
                    <div class='modal-footer'>
                        <button type='button' class='btn btn-danger pull-left' data-bind='click: delete_shrl'>Delete</button>
                        <button type='button' class='btn btn-secondary' data-bind='click: closeModal'>Close</button>
                        <button type='button' class='btn btn-primary' data-bind='click: save'>Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <nav class='navbar navbar-default'>

                <div class='container-fluid'>
                    <div style='width: 100%;' class="navbar-header">
                        <a class="navbar-brand" href="/admin/">SHRLS Admin</a>

                        <form data-bind='submit: submitQuery' class='navbar-form navbar-right'>

                            <div class='form-group'>
                                <button type='button' class='btn btn-primary' data-bind='click: newShrl'>
                                    <span class='glyphicon glyphicon-plus'></span> New Url
                                </button>
                            </div>

                            <div class='form-group'>
                                <input type='text' class='form-control' data-bind='value: search' placeholder='Search' name='search' />
                            </div>
                        </form>
                    </div>

                </div>
            </nav>

            <div class='row'>
                <div class='col-md-4' style="margin-left: 35px;">
                    <div class='row'>
                        <div class='dropzone' id='uploadFile'></div>
                    </div>
                </div>
                <div class='col-md-offset-1 col-md-6'>

                    <div class='col-md-12'>
                        <div class='input-group'>
                            <input id='title' class='form-control' placeholder='Snippet Title' name='' />
                            <span class='input-group-btn'>
                                <button onclick="upload_snippet()" class='btn btn-default'>Submit</button>
                            </span>
                        </div>
                        <div class="row">
                            <textarea id='content' style='font-family: monospace;' class='col-md-12' rows=7 name='c'></textarea>
                        </div>
                    </div>

                </div>
            </div>

            <!--
            <div class='row'>
                <div class='form-inline'>
                    <div class='form-group'>
                        <input class='form-control' id='shrl_url' type='text' name='u' placeholder='Url' />
                        <input class='form-control' id='shrl_short' type='text' name='s' placeholder='Short ID' />
                        <input class='input btn-default btn pull-right' onclick='create_shrl()' type='button' class='button' value='Create Url' name='' />
                    </div>
                </div>
            </div>
            -->

            <hr>

            <input class='btn-default btn' type='button' class='button' value='Previous Page' data-bind='click: control.prevPage' name='' />
            <input class='btn-default btn' type='button' class='button' value='Next Page' data-bind='click: control.nextPage' name='' />

            <div class='table-responsive' style='overflow: hidden;'>
                <table class="table table-condensed table-striped table-hover">
                    <thead>
                        <tr>
                            <th class='col-md-1'>
                                Views
                            </th>
                            <th class='shrl_overflow col-md-4'>
                                Url
                            </th>
                            <th>
                                Tags
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind='foreach: urls' data-bind='foreach: urls'>
                    <tr data-bind='attr: {class:id}'>
                        <td class='col-md-1'>
                            <span data-bind='text: views'></span>
                        </td>
                        <td>
                            <div class='col-md-4 shrl_overflow'>
                                <b>
                                    <a target="_blank" data-bind='attr: { href: href }, text: alias'></a>
                                </b>
                                <br>
                                <small>
                                    <a target="_blank" data-bind='attr: { href: location }, text: location'></a>
                                </small>
                            </div>
                        </td>
                        <td>
                            <span data-bind='tags: tags' class='col-md-4'></span>
                        </td>
                        <td>
                            <button class='btn btn-default btn-sm' data-bind='click: edit'>Edit</button>
                            <button class='btn btn-primary btn-sm' data-bind='clipboard: href'>Copy</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <input class='btn-default btn' type='button' class='button' value='Previous Page' data-bind='click: control.prevPage' name='' />
            <input class='btn-default btn' type='button' class='button' value='Next Page' data-bind='click: control.nextPage' name='' />
        </div>

        <hr>

        <form action="/admin/restore/" method="post" enctype="multipart/form-data">
            Restore from backup:
            <input type="file" name="file">
            <input type="submit" value="restore" name="submit">
        </form>

        <script type="text/javascript" charset="utf-8">
            var myDropzone = new Dropzone("div#uploadFile", {
                url: "/admin/upload",
                paramName: "file",
                success: function(e) {
                    prompt("File has been uploaded successfully!", e.xhr.response);
                },
            });
        </script>
    </body>
</html>
