<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SHRLS Admin Page</title>
        <link rel="stylesheet" href="/static/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="/static/styles/bootstrap-tagsinput.css" />
        <link rel="stylesheet" href="/static/dropzone.css" />

        <style type='text/css'>
            body {
                padding-top: 10px;
            }
            .bootstrap-tagsinput {
                background-color: inherit;
                border: none;
                box-shadow: none;
                width: 250px;
                padding: 2px 6px;
                white-space: nowrap;
            }
            .bootstrap-tagsinput input {
                width: 250px;
            }
            .shrl_overflow {
                padding: 0px;
                margin: 0px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        </style>

    </head>
    <body>
        <script src="/static/dropzone.js"></script>
        <script src="/static/jquery.min.js"></script>
        <script src="/static/knockout-min.js"></script>
        <script src="/static/bootstrap.min.js"></script>
        <script src="/static/bootstrap-tagsinput.min.js"></script>

        <script type='text/javascript'>

            ko.bindingHandlers.tags = {
                init: function(element, valueAccessor, allBindings, bindingContext) {
                    $(element).tagsinput({
                        trimValue: true,
                        confirmKeys: [13],
                        itemText: function(item) {
                            item = item.replace(/^#+/, '');
                            return "#" + item;
                        },
                        //typeahead: {
                        //    source: function(query) {
                        //        return viewModel.tags();
                        //    },
                        //},
                    });

                    var values = ko.unwrap(valueAccessor());

                    for (var i=0; i<values.length; i++) {
                        $(element).tagsinput('add', values[i]);
                    }

                    var modifiedHandler = function(value) {
                        return function() {
                            var tags = $(this).tagsinput('items').map(function(item) { return item.replace(/^#+/, ''); });
                            value(tags);
                            bindingContext.update();
                        }
                    }(valueAccessor());

                    $(element).on('itemAdded', modifiedHandler);
                    $(element).on('itemRemoved', modifiedHandler);
                },
            }

            var Url = function(url) {
                var self = this;
                self.id = url.id;
                self.alias = ko.observable(url.alias);
                self.location = ko.observable(url.location);
                self.views = ko.observable(url.views);
                self.tags = ko.observableArray(url.tags);

                self.href = ko.computed(function() {
                    return '/' + self.alias();
                }, self);

                self.update = function() {
                    $.ajax({
                        url: '/admin/api/shrls',
                        method: 'POST',
                        data: {
                            id: self.id,
                            alias: self.alias(),
                            location: self.location(),
                            tags: self.tags(),
                        },
                        success: function(data) {
                            retrieveUrls();
                        }
                    });
                }

                self.delete_shrl = function() {
                    $.ajax({
                        url: '/admin/api/shrls',
                        method: 'DELETE',
                        data: {
                            id: self.id,
                        },
                        success: function(data) {
                            retrieveUrls();
                        }
                    });
                }

            }

            var ViewModel = function() {
                var self = this;

                self.urls = ko.observableArray(),
                self.tags = ko.observableArray(),
                self.search = ko.observable(),
                self.control = {
                    page: ko.observable(0),
                    count: ko.observable(50),
                    nextPage: function() {
                        self.control.page(self.control.page() + 1);
                        retrieveUrls();
                    },
                    prevPage: function() {
                        self.control.page(Math.max(0, self.control.page() - 1));
                        retrieveUrls();
                    },
                }

                self.submitQuery = function() {
                    self.control.page(0);
                    retrieveUrls();
                }
            }

            var viewModel = new ViewModel();

            var urls = [];


            function getUrl(url) {
                result = viewModel.urls().find(function(item) { return item.id == url.id; });
                if (result == undefined) {
                    result = new Url(url);
                }
                return result;
            }

            function retrieveUrls() {
                $.ajax({
                    url: '/admin/api/shrls',
                    dataType: 'json',
                    data: {
                        page: viewModel.control.page(),
                        count: viewModel.control.count(),
                        search: viewModel.search(),
                    },
                    success: function(data) {
                        viewModel.urls(data.urls.map(function(item) { return getUrl(item); }));
                    },
                });
            }

            function retrieveTags(search) {
                $.ajax({
                    url: '/admin/api/tags',
                    dataType: 'json',
                    data: {search: search},
                    success: function(data) {
                        viewModel.tags(data.tags);
                    },
                });
            }

            $(document).ready(function() {
                retrieveUrls();
                retrieveTags();
                setInterval(retrieveUrls, 30000);
                ko.applyBindings(viewModel);
            });

            function upload_snippet() {
                content = $('#content').val();
                title = $('#title').val();
                $.ajax({
                    url: '/admin/snippet',
                    method: 'POST',
                    data: {
                        'c': content,
                        't': title,
                    },
                    success: function(data) {
                        prompt("Snippet has been uploaded successfully!", data);
                        $('#content').val("");
                        $('#title').val("");
                        $('#shrl_overwrite').attr('checked', '');
                    },
                });
            }

            function add_shrl(url, shrl, overwrite) {
                if (shrl.trim() == '') {
                    data = {u: url};
                } else {
                    data = {u: url, s: shrl};
                }
                data['o'] = overwrite;
                data['url_only'] = true;
                $.ajax({
                    url: '/admin/create',
                    method: 'GET',
                    data: data,
                    success: function(d) {
                        console.log(d);
                    },
                });
            }

            function create_shrl() {
                url = $('#shrl_url').val();
                shrl = $('#shrl_short').val();
                if (shrl.trim() == '') {
                    var data = {u: url};
                } else {
                    var data = {u: url, s: shrl};
                }
                data['o'] = $('#shrl_overwrite').is(':checked');
                data['url_only'] = true;
                $.ajax({
                    url: '/admin/create',
                    method: 'GET',
                    data: data,
                    success: function(data) {
                        prompt("Url has been uploaded successfully!", data);
                        $('#shrl_url').val("");
                        $('#shrl_short').val("");
                    },
                });
            }
        </script>
        <div class="container">

            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/admin/">SHRLS Admin</a>
                    <ul class="nav">
                    </ul>
                    <form data-bind='submit: submitQuery' class='navbar-search pull-right'>
                        <input type='text' class='search-query' data-bind='value: search' placeholder='Search' name='search' />
                    </form>
                </div>
            </div>

            <div class='row'>
                <div class='span4'>
                    <div class='row-fluid'>
                        <div class='dropzone' id='uploadFile'></div>
                    </div>
                </div>
                <div class='offset1 span7'>
                    <div class='row-fluid'>
                        <div class="row">
                            <input id='title' type='text' class='span8' name='t' placeholder='Snippet Title' />
                            <button type='button' onclick="upload_snippet()" class='span4 btn pull-right'>Upload Snippet</button>
                        </div>
                        <div class="row">
                            <textarea id='content' style='font-family: monospace;' class='span12' rows=7 name='c'></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class='form-inline'>
                <input class='span8' id='shrl_url' type='text' name='u' placeholder='Url' />
                <input class='span2' id='shrl_short' type='text' name='s' placeholder='Short ID' />
                <input type='checkbox' id='shrl_overwrite' class='checkbox' value='True' name='o' />
                <input class='span2 input btn pull-right' onclick='create_shrl()' type='button' class='button' value='Create Url' name='' />
            </div>

            <input class='btn' type='button' class='button' value='Previous Page' data-bind='click: control.prevPage' name='' />
            <input class='btn' type='button' class='button' value='Next Page' data-bind='click: control.nextPage' name='' />

            <table class="table table-condensed table-striped table-hover">
                <thead>
                    <tr>
                        <th class='span1'>
                            Views
                        </th>
                        <th class='shrl_overflow span4'>
                            Url
                        </th>
                        <th>
                            Tags
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody data-bind='foreach: urls' data-bind='foreach: urls'>
                <tr>
                    <td data-bind='text: views' class='span1'></td>
                    <td>
                        <div class='shrl_overflow span4'>
                            <b>
                                <a target="_blank" data-bind='attr: { href: href }, text: alias'></a>
                            </b>
                            <br>
                            <small>
                                <a target="_blank" data-bind='attr: { href: location }, text: location'></a>
                            </small>
                        </div>
                    </td>
                    <td>
                        <span data-bind='tags: tags' class='span4'></span>
                    </td>
                    <td>
                        <a href='#' data-bind="click: delete_shrl">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <input class='btn' type='button' class='button' value='Previous Page' data-bind='click: control.prevPage' name='' />
            <input class='btn' type='button' class='button' value='Next Page' data-bind='click: control.nextPage' name='' />
        </div>

        <hr>

        <form action="/admin/restore/" method="post" enctype="multipart/form-data">
            Restore from backup:
            <input type="file" name="file">
            <input type="submit" value="restore" name="submit">
        </form>

        <script type="text/javascript" charset="utf-8">
            var myDropzone = new Dropzone("div#uploadFile", {
                url: "/admin/upload",
                paramName: "file",
                success: function(e) {
                    prompt("File has been uploaded successfully!", e.xhr.response);
                },
            });
        </script>
    </body>
</html>
