<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SHRLS Admin Page</title>
    </head>
    <body>
        <script src="/static/dropzone.js"></script>
        <link rel="stylesheet" href="/static/bootstrap.min.css" />

        <div class="container">

            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#">SHRLS Admin</a>
                    <ul class="nav">
                    </ul>
                </div>
            </div>

            <div class='well span-8' id='uploadFile'>
            </div>

            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Short Url</th>
                        <th>Location</th>
                        <th>Views</th>
                        <th>Created</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for url in urls[:100] %}
                <tr>
                    <td>{{ url.alias }}</td>
                    <td>
                        <a href='{{ url.location }}'>{{ url.location[:50] }}</a>
                    </td>
                    <td>{{ url.views }}</td>
                    <td>{{ url.created_at }}</td>
                    <td>
                        <a href='#'>Update</a>
                        <a href='#'>Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <script type="text/javascript" charset="utf-8">
            last_event = false;
            var myDropzone = new Dropzone("div#uploadFile", {
                url: "/admin/upload",
                paramName: "file",
                success: function(e) {
                    console.log(e);
                    last_event = e;
                },
            });
        </script>
    </body>
</html>
